[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
psycopg2-binary = "==2.7.7"
mypy = "==0.670"
django-model-utils = "==3.1.2"
graphene-django = "==2.2.0"
pyjwt = "==1.7.1"
cryptography = "==2.5"
django-cors-headers = "==2.4.0"
requests = "==2.21.0"

[scripts]
lint = "flake8 ./src"
isort = "isort -rc ./src"
mypy = "mypy ./src"
manage_py = "dotenv -f .env run python ./src/manage.py"
pytest = "pytest ./src"

[dev-packages]
"flake8" = "*"
isort = "*"
"python-dotenv[cli]" = "*"
pytest-dotenv = "*"
pytest = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.7"
